﻿@model MVCUsingJqueryAjax.Models.Customer


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@*<div class="container" style="margin-top:3%">

		<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomerRecord()" data-toggle="modal" data-target="#saleModal">Add New Customer</a><br /><br />
	</div>*@

<div class="container" style="margin-top:3%">

	@*<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />*@

	<button type="button" class="btn btn-primary" onclick="OpenAddModal()" data-toggle="modal" data-target="#custModal">Add New Customer</button><br /><br />

	<div class="modal fade" id="custModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								<input type="hidden" id="CustomerId" class="form-control" />
							</div>
							<div class="form-group">
								<Label for="CustomerName">Customer Name</Label>
								<input type="text" class="form-control" id="CustomerName" placeholder="Customer Name" />
							</div>
							<div class="form-group">
								<Label for="CustomerAddress">Customer Address</Label>
								<input type="text" class="form-control" id="CustomerAddress" placeholder="Customer Address" />
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						@*<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>*@
						<button type="button" class="btn btn-danger" id="SaveCustomerRecord">Save</button>
						@*<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="deleteCust">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="deleteModalTitle">Delete Customer Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>


<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Customer ID</th>*@
			<th>Customer Name</th>
			<th>Customer Address</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblCust">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>


<script>
	$(document).ready(function () {
		$("#LoadingStatus").html("Loading...");
		var custData = $("#tblCust");
		// Getting data from server
		$.ajax({
			type: 'GET',
			url: '/api/Customers',
			success: function (data) {
				$.each(data, function (key, val) {
					var Data = $("<tr><td>" + val.CustomerName +
						"</td><td>" + val.CustomerAddress +

						"</td><td>" + "<a href='#' class='btn btn-warning' onClick='OpenEditModal(" + val.CustomerId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" +
						"</td><td>" + "<a href='#' class='btn btn-danger' onClick='OpenDeleteModal(" + val.CustomerId+")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td></tr>");

					custData.append(Data);
					$("#LoadingStatus").html("");
				});

			}
		})
	});
	//Modal to Add new Customer
	function OpenAddModal(CustomerId) {
		$("#myForm")[0].reset();
		$("#modalTitle").text("Add new Customer");
		$("#custModal").modal("");
	}
	//Saving new Added and Updated Customers
	$("#NewCustomerRecord").click(function () {
		//var data = $("#SubmitForm").serialize();
		var rawdata = {
			CustomerName: $("#CustomerName").val(),
			CustomerAddress: $("#CustomerAddress").val(),
			IsDeleted: false
		};

		$.ajax({
			type: 'POST',
			url: '/api/Customers',
			//contentType: "application/json;charset=utf-8",
			data: rawdata,
			success: function () {
				alert("Success!..");
				window.location.href = "/Customer/CustomerIndex";
				$("#custModal").modal("hide");
			}
		})
	});
	//Open Modal for Editing a Customer
	function OpenEditModal(CustomerId) {
		//var url = '/api/Customers/' + CustomerId;
		$("#modalTitle").text("Update Customer Record");
		$("#custModal").modal();

		$('#tblCust tr').click(
			function () {
				//var CustomerId = $(this).find("td:nth-child(0)").html();
				var CustomerName = $(this).find("td:nth-child(1)").html();
				var CustomerAddress = $(this).find("td:nth-child(2)").html();

				CustomerName = $('#CustomerName').val(CustomerName);
				CustomerAddress = $('#CustomerAddress').val(CustomerAddress);
				IsDeleted = false;

			});
	}

		//$.ajax({
		//	type: 'PUT',
		//	url: '/api/Customers/' + CustomerId,
		//	contentType: "application/json; charset=utf-8",
		//	success: function () {
		//		alert("Hello");
		//		//var obj = JSON.parse(data);
		//		//$("#CustomerId").val(obj.CustomerId);
		//		//$("#CustomerName").val(obj.CustomerName);
		//		//$("#CustomerAddress").val(obj.CustomerAddress);
		//	}
		//})

	//Saving the Customer
	$("#SaveCustomerRecord").click(function () {
		
		//var data = $("#SubmitForm").serialize();
		var type = "POST";
		var url = "/api/Customers";
		if ($("#modalTitle").text() === "Update Customer Record") {
			type = "PUT";
			url = '/api/Customers/' + CustomerId;
		} debugger
		var rawdata = {
			CustomerId:0,
			CustomerName: $("#CustomerName").val(),
			CustomerAddress: $("#CustomerAddress").val(),
			IsDeleted: false
		};
		
		$.ajax({
			type: type,
			url: url,
			contentType: "application/json; charset=utf-8",
			data: rawdata,
			success: function () {
				alert("Hello");
				window.location.href = "/Customer/CustomerIndex";
				$("#custModal").modal("hide");
				//var obj = JSON.parse(data);
				//$("#CustomerId").val(obj.CustomerId);
				//$("#CustomerName").val(obj.CustomerName);
				//$("#CustomerAddress").val(obj.CustomerAddress);
			}
		})
	});

	//Modal for Deleting a Customer
	function OpenDeleteModal(CustomerId) {
		//alert("Hello");
		$("#CustomerId").val(CustomerId);
		$("#deleteCust").modal("show");
	}
	//Deleteing a Customer
	function ConfirmDelete() {
		var CustId = $("#CustomerId").val();
		
		$.ajax({
			type:'DELETE',
			url: '/api/Customers/'+ CustId,
			success: function(result) {				
				alert("Success!--");
				$("#deleteCust").modal("hide");
				$(".row_" + CustId).remove();
				location.reload();
			}
		})
	}

</script>

@*<script>
		$("#LoadingStatus").html("Loading...");
		$.get("api/Customers", null, DataBind);

		function DataBind(CustomerList) {
			var SetData = $("#tblCust");
			for (var i = 0; i < CustomerList.length; i++) {
				var Data = "<tr class='row_" + CustomerList[i].CustomerId + "'>" +
					//"<td>" + CustomerList[i].CustomerId + "</td>" +
					"<td>" + CustomerList[i].CustomerName + "</td>" +
					"<td>" + CustomerList[i].CustomerAddress + "</td>" +
					"<td>" + "<a href='#' class='btn btn-warning' onclick='EditCustomerRecord(" + CustomerList[i].CustomerId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
					"<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteCustomerRecord(" + CustomerList[i].CustomerId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
					"</tr>";
				SetData.append(Data);
				$("#LoadingStatus").html("");
			}
		}
	</script>*@



