﻿@model MVCUsingJqueryAjax.Models.ModelViewClass
@*@model CRUDUsingJqueryAjax.Models.Customer*@

<h2>Customer Details</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewCustomer()" data-toggle="modal" data-target="#custModal">Add New Customer</a><br /><br />

	<div class="modal fade" id="custModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								@Html.HiddenFor(m => m.CustomerId, new { @id = "CustId" })
							</div>
								<div class="form-group">
									@Html.LabelFor(m => m.CustomerName)
								</div>
								<div class="form-group">
									@Html.TextBoxFor(m => m.CustomerName, new { @id = "CustName", @class = "form-control", @placeholder = "Customer Name" })
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.CustomerAddress)
								</div>
								<div class="form-group">
									@Html.TextBoxFor(m => m.CustomerAddress, new { @id = "CustAddress", @class = "form-control", @placeholder = "Customer Address" })
								</div>
								@*<div class="form-control">

				@*<input type="button" value="SaveButton" id="SaveCustomerRecord" onclick="AddCustomer()" />
			</div>*@
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
						<a href="#" class="btn btn-danger" id="SaveCustomerRecord">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteCust">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="modalTitle">Delete Customer Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Customer ID</th>*@
			<th>Customer Name</th>
			<th>Customer Address</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblCust">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>

<script>

	$("#LoadingStatus").html("Loading...");
	$.get("/Customer/GetCustomerList", null, DataBind);
	function DataBind(CustomerList) {
		var SetData = $("#tblCust");
		for (var i = 0; i < CustomerList.length; i++) {
			var Data = "<tr class='row_" + CustomerList[i].CustomerId + "'>" +
				//"<td>" + CustomerList[i].CustomerId + "</td>" +
				"<td>" + CustomerList[i].CustomerName + "</td>" +
				"<td>" + CustomerList[i].CustomerAddress + "</td>" +
				"<td>" + "<a href='#' class='btn btn-warning' onclick='EditCustomerRecord(" + CustomerList[i].CustomerId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
				"<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteCustomerRecord(" + CustomerList[i].CustomerId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
				"</tr>";
			SetData.append(Data);
			$("#LoadingStatus").html("");
		}
	}

	function AddNewCustomer(CustomerId) {
		$("#myForm")[0].reset();
		$("#modalTitle").html("Add new Customer");
		$("#custModal").modal("");
	}

	function EditCustomerRecord(CustomerId) {
		var url = "/Customer/GetCustomerById?CustomerId=" + CustomerId;
		$("#modalTitle").html("Update Customer Record");
		$("#custModal").modal();
		$.ajax({
			type: "GET",
			url: url,
			success: function (data) {
				//alert("Hello");
				var obj = JSON.parse(data);
				$("#CustId").val(obj.CustomerId);
				$("#CustName").val(obj.CustomerName);
				$("#CustAddress").val(obj.CustomerAddress);
			}
		})
	}

	$("#SaveCustomerRecord").click(function () {
		var data = $("#SubmitForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Customer/SaveDataInDatabase",
			data: data,
			success: function (result) {
				alert("Success!..");
				window.location.href = "/Customer/Index";
				$("#custModal").modal("hide");
			}
		})
	});

	function DeleteCustomerRecord(CustomerId) {
		//alert("Hello");
		$("#CustId").val(CustomerId);
		$("#deleteCust").modal("show");
	}

	function ConfirmDelete() {
		var CustId = $("#CustId").val();
		$.ajax({
			type: "POST",
			url: "/Customer/DeleteCustomerRecord?CustomerId=" + CustId,
			success: function (result) {
				//alert("Hello");
				$("#deleteCust").modal("hide");
				$(".row_" + CustId).remove();
			}
		})
	}

</script>