﻿@model MVCUsingJqueryAjax.Models.ModelViewClass
@*@model CRUDUsingJqueryAjax.Models.Customer*@

<h2>Store Details</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewStore()" data-toggle="modal" data-target="#storeModal">Add New Store</a><br /><br />

	<div class="modal fade" id="storeModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								@Html.HiddenFor(m => m.StoreId, new { @id = "StorId" })
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.StoreName)
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.StoreName, new { @id = "StorName", @class = "form-control", @placeholder = "Store Name" })
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.StoreAddress)
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.StoreAddress, new { @id = "StorAddress", @class = "form-control", @placeholder = "Store Address" })
							</div>
							@*<div class="form-control">

									@*<input type="button" value="SaveButton" id="SaveCustomerRecord" onclick="AddCustomer()" />
								</div>*@
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
						<a href="#" class="btn btn-danger" id="SaveStoreRecord">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteStore">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="modalTitle">Delete Store Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Store ID</th>*@
			<th>Store Name</th>
			<th>Store Address</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblStore">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>

<script>

	$("#LoadingStatus").html("Loading...");
	$.get("/Store/GetStoreList", null, DataBind);
	function DataBind(StoreList) {
		var SetData = $("#tblStore");
		for (var i = 0; i < StoreList.length; i++) {
			var Data = "<tr class='row_" + StoreList[i].StoreId + "'>" +
				//"<td>" + StoreList[i].StoreId + "</td>" +
				"<td>" + StoreList[i].StoreName + "</td>" +
				"<td>" + StoreList[i].StoreAddress + "</td>" +
				"<td>" + "<a href='#' class='btn btn-warning' onclick='EditStoreRecord(" + StoreList[i].StoreId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
				"<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStoreRecord(" + StoreList[i].StoreId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
				"</tr>";
			SetData.append(Data);
			$("#LoadingStatus").html("");
		}
	}

	function AddNewStore(StoreId) {
		$("#myForm")[0].reset();
		$("#modalTitle").html("Add new Store");
		$("#storeModal").modal("");
	}

	$("#SaveStoreRecord").click(function () {
		var data = $("#SubmitForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Store/SaveDataInDatabase",
			data: data,
			success: function (result) {
				alert("Success!..");
				window.location.href = "/Store/Index";
				$("#storeModal").modal("hide");
			}
		})
	});

	function EditStoreRecord(StoreId) {
		var url = "/Store/GetStoreById?StoreId=" + StoreId;
		$("#modalTitle").html("Update Store Record");
		$("#storeModal").modal();
		$.ajax({
			type: "GET",
			url: url,
			success: function (data) {
				//alert("Hello");
				var obj = JSON.parse(data);
				$("#StorId").val(obj.StoreId);
				$("#StorName").val(obj.StoreName);
				$("#StorAddress").val(obj.StoreAddress);
			}
		})
	}

	function DeleteStoreRecord(StoreId) {
		//alert("Hello");
		$("#StorId").val(StoreId);
		$("#deleteStore").modal("show");
	}

	function ConfirmDelete() {
		var StorId = $("#StorId").val();
		$.ajax({
			type: "POST",
			url: "/Store/DeleteStoreRecord?StoreId=" + StorId,
			success: function (result) {
				//alert("Hello");
				$("#deleteStore").modal("hide");
				$(".row_" + StorId).remove();
			}
		})
	}

</script>


