﻿@model MVCUsingJqueryAjax.Models.ModelViewClass
@*@model CRUDUsingJqueryAjax.Models.Customer*@

<h2>Sales Details</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<script src="~/Scripts/moment.min.js"></script>*@

<div class="container" style="margin-top:3%">

	<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewSaleRecord()" data-toggle="modal" data-target="#saleModal">Add New Sale Record</a><br /><br />

	<div class="modal fade" id="saleModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								@Html.HiddenFor(m => m.ProductSoldId, new { @id = "SaleId" })
							</div>
							<div class="form-group">
								@Html.DropDownListFor(m => m.CustomerId, ViewBag.ListOfCustomers as SelectList, "---Select Customer---", new { @id = "DropCust", @class = "form-control" })
							</div>
							<div class="form-group">
								@Html.DropDownListFor(m => m.ProductId, ViewBag.ListOfProducts as SelectList, "---Select Product---", new { @id = "DropProd", @class = "form-control" })
							</div>
							<div class="form-group">
								@Html.DropDownListFor(m => m.StoreId, ViewBag.ListOfStores as SelectList, "---Select Store---", new { @id = "DropStor", @class = "form-control" })
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.DateSold, new { @id = "DtSold", @class = "form-control", @placeholder = "MM/DD/YYYY" })
							</div>
							@*<div class="form-control">

									@*<input type="button" value="SaveButton" id="SaveCustomerRecord" onclick="AddCustomer()" />
								</div>*@
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
						<a href="#" class="btn btn-danger" id="SaveSalesRecord">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteCust">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="modalTitle">Delete Sales Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped" border="1">
	<thead>
		<tr>
			
			<th>Customer Name</th>
			<th>Product Name</th>
			<th>Store Name</th>
			<th>Date Sold</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblCust">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>

<script>

	$("#LoadingStatus").html("Loading...");
	$.get("/ProductSold/GetSalesList", null, DataBind);
	function DataBind(SalesList) {
		var SetData = $("#tblCust");
		for (var i = 0; i < SalesList.length; i++) {
			var Data = "<tr class='row_" + SalesList[i].ProductSoldId + "'>" +
				//"<td>" + SalesList[i].ProductSoldId + "</td>" +
				"<td>" + SalesList[i].CustomerName + "</td>" +
				"<td>" + SalesList[i].ProductName + "</td>" +
				"<td>" + SalesList[i].StoreName + "</td>" +
				"<td>" + moment(SalesList[i].DateSold).format() + "</td>" +
				"<td>" + "<a href='#' class='btn btn-warning' onclick='EditSalesRecord(" + SalesList[i].ProductSoldId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
				"<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteSalesRecord(" + SalesList[i].ProductSoldId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
				"</tr>";
			SetData.append(Data);
			$("#LoadingStatus").html("");
		}
	}

	function AddNewSaleRecord(ProductSoldId) {
		$("#myForm")[0].reset();
		$("#SaleId").val(0);
		$("#DropCust option:selected").text("---Select Customer---");
		$("#DropProd option:selected").text("---Select Product---");
		$("#DropStor option:selected").text("---Select Store---");
		$("#modalTitle").html("Add new Sales Record");
		$("#saleModal").modal("");
	}

	function EditSalesRecord(ProductSoldId) {
		var url = "/ProductSold/GetSalesById?ProductSoldId=" + ProductSoldId;
		$("#modalTitle").html("Update Sales Record");
		$("#saleModal").modal();
		$.ajax({
			type: "GET",
			url: url,
			success: function (data) {
				//alert("Hello");
				var obj = JSON.parse(data);
				//debugger
				$("#SaleId").val(obj.ProductSoldId);
				$("#DropCust option:selected").text(obj.Customer.CustomerName);
				$("#DropCust option:selected").val(obj.CustomerId);
				$("#DropProd option:selected").text(obj.Product.ProductName);
				$("#DropProd option:selected").val(obj.ProductId);
				$("#DropStor option:selected").text(obj.Store.StoreName);
				$("#DropStor option:selected").val(obj.StoreId);
				moment($("#DtSold").val(obj.DateSold)).format();
			}
		})
	}

	$("#SaveSalesRecord").click(function () {
		var data = $("#SubmitForm").serialize();
		
		//debugger
		$.ajax({
			type: "POST",
			url: "/ProductSold/SaveDataInDatabase",
			data: data,
			success: function (result) {
				alert("Success!..");
				window.location.href = "/ProductSold/Index";
				$("#saleModal").modal("hide");
			}
		})
	});

	function DeleteSalesRecord(ProductSoldId) {
		//alert("Hello");
		$("#SaleId").val(ProductSoldId);
		$("#deleteCust").modal("show");
	}

	function ConfirmDelete() {
		var SaleId = $("#SaleId").val();
		$.ajax({
			type: "POST",
			url: "/ProductSold/DeleteSalesRecord?ProductSoldId=" + SaleId,
			success: function (result) {
				//alert("Hello");
				$("#deleteCust").modal("hide");
				$(".row_" + SaleId).remove();
			}
		})
	}

</script>


