﻿@*@model MVCUsingJqueryAjax.Models.ModelViewClass*@
@model MVCUsingJqueryAjax.Models.Product

<h2>Product Details</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">

	<a href="#" class="btn btn-primary" style="align-content:flex-start" onclick="AddNewProduct()" data-toggle="modal" data-target="#prodModal">Add New Product</a><br /><br />

	<div class="modal fade" id="prodModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3 class="modal-title" id="modalTitle"></h3>
				</div>
				<div class="modal-body">
					<form id="myForm">
						<fieldset id="SubmitForm">
							<div class="form-group">
								@Html.HiddenFor(m => m.ProductId, new { @id = "ProId" })
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.ProductName)
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.ProductName, new { @id = "ProName", @class = "form-control", @placeholder = "Product Name" })
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.ProductPrice)
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.ProductPrice, new { @id = "ProPrice", @class = "form-control", @placeholder = "Product Price" })
							</div>
							@*<div class="form-control">

									@*<input type="button" value="SaveButton" id="SaveCustomerRecord" onclick="AddCustomer()" />
								</div>*@
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
						<a href="#" class="btn btn-danger" id="SaveProductRecord">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deletePro">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title" id="modalTitle">Delete Product Record</h3>
			</div>
			<div class="modal-body">
				<h4>Are You sure ? You want to Delete This Record</h4>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped" border="1">
	<thead>
		<tr>
			@*<th>Product ID</th>*@
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Action(Edit)</th>
			<th>Action(Delete)</th>

		</tr>
	</thead>
	<tbody id="tblCust">
		<tr id="LoadingStatus" style="color:red"></tr>
	</tbody>
</table>

<script>

	$("#LoadingStatus").html("Loading...");
	$.get("/Product/GetProductList", null, DataBind);
	function DataBind(ProductList) {
		var SetData = $("#tblCust");
		for (var i = 0; i < ProductList.length; i++) {
			var Data = "<tr class='row_" + ProductList[i].ProductId + "'>" +
				//"<td>" + ProductList[i].ProductId + "</td>" +
				"<td>" + ProductList[i].ProductName + "</td>" +
				"<td>" + ProductList[i].ProductPrice + "</td>" +
				"<td>" + "<a href='#' class='btn btn-warning' onclick='EditProductRecord(" + ProductList[i].ProductId + ")'><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
				"<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteProductRecord(" + ProductList[i].ProductId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
				"</tr>";
			SetData.append(Data);
			$("#LoadingStatus").html("");
		}
	}

	function AddNewProduct(ProductId) {
		$("#myForm")[0].reset();
		$("#modalTitle").html("Add new Product");
		$("#prodModal").modal("");
	}


	$("#SaveProductRecord").click(function () {
		var data = $("#SubmitForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Product/SaveDataInDatabase",
			data: data,
			success: function (result) {
				alert("Success!..");
				window.location.href = "/Product/Index";
				$("#prodModal").modal("hide");
			}
		})
	});

	function EditProductRecord(ProductId) {
		var url = "/Product/GetProductById?ProductId=" + ProductId;
		$("#modalTitle").html("Update Product Record");
		$("#prodModal").modal();
		$.ajax({
			type: "GET",
			url: url,
			success: function (data) {
				//alert("Hello");
				var obj = JSON.parse(data);
				$("#ProId").val(obj.ProductId);
				$("#ProName").val(obj.ProductName);
				$("#ProPrice").val(obj.ProductPrice);
			}
		})
	}

	function DeleteProductRecord(ProductId) {
		//alert("Hello");
		$("#ProId").val(ProductId);
		$("#deletePro").modal("show");
	}

	function ConfirmDelete() {
		var ProId = $("#ProId").val();
		$.ajax({
			type: "POST",
			url: "/Product/DeleteProductRecord?ProductId=" + ProId,
			success: function (result) {
				//alert("Hello");
				$("#deletePro").modal("hide");
				$(".row_" + ProId).remove();
			}
		})
	}

</script>


